@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .iconHover {
    filter: invert(45%) sepia(23%) saturate(1453%) hue-rotate(326deg)
      brightness(104%) contrast(94%);
  }
  .themeIcon {
    filter: invert(36%) sepia(13%) saturate(355%) hue-rotate(177deg)
      brightness(96%) contrast(87%);
  }
  .themeIconActive {
    filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg)
      brightness(106%) contrast(106%);
  }

  h1 {
    @apply text-h1 font-bold text-c4 dark:text-white;
  }
  h2 {
    @apply text-h2 font-light text-c4 dark:text-white;
  }
  h3 {
    @apply text-h3 font-bold text-c4 dark:text-white;
  }
  h4 {
    @apply text-h4 font-bold text-c4 dark:text-white;
  }
  h5 {
    @apply text-h5 font-bold text-c4 dark:text-white;
  }
  h6 {
    @apply text-h6 font-bold text-primaryDark;
  }
  a {
    @apply underline hover:underline mouseHover:hover:text-primaryDark;
  }
}
