@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .iconHover {
    filter: invert(45%) sepia(23%) saturate(1453%) hue-rotate(326deg)
      brightness(104%) contrast(94%);
  }
  .iconHoverDisabled {
    filter: none;
  }
  .loginIcon {
    filter: invert(95%) sepia(95%) saturate(0%) hue-rotate(200deg)
      brightness(105%) contrast(105%);
  }
  .themeIcon {
    filter: invert(36%) sepia(13%) saturate(355%) hue-rotate(177deg)
      brightness(96%) contrast(87%);
  }
  .themeIconActive {
    filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg)
      brightness(106%) contrast(106%);
  }

  .lightScrollbar {
    overflow: auto;
  }
  .lightScrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  .lightScrollbar::-webkit-scrollbar-track {
    @apply bg-c9;
  }
  .lightScrollbar::-webkit-scrollbar-thumb {
    @apply bg-c6;
    border-radius: 10rem;
  }

  .darkScrollbar {
    overflow: auto;
  }
  .darkScrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  .darkScrollbar::-webkit-scrollbar-track {
    @apply bg-c1;
  }
  .darkScrollbar::-webkit-scrollbar-thumb {
    @apply bg-c7;
    border-radius: 10rem;
  }

  h1 {
    @apply text-h1 font-bold text-c4 dark:text-white;
  }
  h2 {
    @apply text-h2 font-light text-c4 dark:text-white;
  }
  h3 {
    @apply text-h3 font-bold text-c4 dark:text-white;
  }
  h4 {
    @apply text-h4 font-bold text-c4 dark:text-white;
  }
  h5 {
    @apply text-h5 font-bold text-c4 dark:text-white;
  }
  h6 {
    @apply text-h6 font-bold text-primaryDark;
  }
  a {
    @apply !underline transition-all mouseHover:hover:text-primaryDark mouseHover:hover:!underline;
  }
}
